/*comment*/
/* comment=ctrl+forward slash */
/* jkhfkjg
fhgjg
kfjhjg */

/* selected tag{

    property: value;
} */

/* color set method */
h1{
    color: yellow;
}
li{
    color:green;
}
h3{
    color:rgb(7, 167, 187,0.5);
}

p{
    color: #07A7BB;
}
/* h3{
    color: rgba(7,167,187 0);
} */