body{
    background:url(https://images.unsplash.com/photo-1558901357-ca41e027e43a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=639&q=80);
background-repeat:repeat
}

div{
    background: red;
    background-color: yellow;
    border-color:red;
    border-width:thin;
    border-style:double;
}

p{
    color: darkmagenta;
}
span{
    background-color: antiquewhite;
    color: chocolate;
}